- id: roto2btc
  code: 5
  name: Roto2/BTC
  base_unit: roto2
  quote_unit: btc
  #price_group_fixed: 1 # aggregate price levels in orderbook
  bid: {fee: 0.00025, currency: btc, fixed: 8}
  ask: {fee: 0.5, currency: roto2, fixed: 2}
  sort_order: 1
  #visible: false     # default to true
